{% macro render_pagination(pagination) %}
  <div class="pagination">
      <ul>
  {% if pagination.has_prev %}
    <li class="prev"><a href="{{ url_for_other_page(pagination.page - 1)
      }}">&laquo; Prev</a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}

      {% if page != pagination.page %}
        <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li class="active"><a href="#">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">…</a></li> 
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li class="next"><a href="{{ url_for_other_page(pagination.page + 1)
      }}">Next &raquo;</a></li>
  {% endif %}
          </ul>
  </div>
{% endmacro %}

{% macro url_box(url) %}
  {% if url.img_cached is not none %}
   <div class="img_float">
     <a href="/static/img/{{url.img_cached}}">
       <img src="/static/img/thumb/{{ url.img_thumb }}" />
     </a>
   </div>
  {% endif %}
   <span class="label"><a href="/url/{{url.id}}">{{url.date_created.strftime('%H:%M')}}</a></span>
   &lt;<a class="nick" href="/nick/{{url.message.user.nick|safeurl}}">{{url.message.user.nick}}</a>&gt; on 
   <a class="irc" href="/channel/{{url.channel|safeurl}}">{{url.message.network_channel.channel.name}}</a>
    @ <a class="irc" href="/network/{{ url.message.network_channel.network_id}}/">{{ url.message.network_channel.network.server }}</a>
   <div class="content">
       <a href="javascript:;" title="Show original message" class="message-show"><img src="{{ url_for('static', filename='img/notebook--arrow.png') }}" /></a>
     {% if url.img_cached is none %}
       <a href="{{url.url}}" target="_blank">{{url.title}}</a><br/>
     {% else %}
       <a href="{{url.url}}" target="_blank">{{url.url}}</a><br/>
     {% endif %}
       <div class="message-text">
           <table>
           {% for m in url.conversation %}
           <tr><td>{{ m.user.nick }}</td><td>{{ m.message }}</td></tr>
           {% endfor %}
           </table>
       </div>
   </div>
</li>
{% endmacro %}
