<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ScudBot &raquo; {% block title %}{% endblock %}</title>
    <meta name="description" content="Scudbot Web Application">
    <meta name="author" content="Weigonchi, Doobeh">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Less Stylesheets (Compiled down to CSS using less.js) -->
    <link rel="stylesheet/less" href="/static/less/bootstrap.less">
	<script src="/static/js/less.js"></script>

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> <!-- JQuery -->
    <script src="/static/js/application.js"></script> <!-- Menu's etc -->
    
    
    <!-- TODO : FAV ICONS
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Scudbot</a></h3>
          <ul>
            <li class="{% block nav_home %}{% endblock %}"><a href="/">Home</a></li>
            <li class="{% block nav_links %}{% endblock %}"><a href="{{ url_for('urls') }}">Links</a></li>
            <li class="{% block nav_images %}{% endblock %}"><a href="{{ url_for('images') }}">Images</a></li>
            <li class="{% block nav_contact %}{% endblock %}"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      	{% block hero %}
        <h1>Hello, world!</h1>
        <p>{{ lipsum(1) }}</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
        {% endblock %}
      </div>
      
      {% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
      
      {% endblock %}
     
      

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>