{% extends 'base.html' %}
{% block title %}Images{% endblock %}
{% block nav_images %}active{% endblock %}


{% block hero %}
<h1>Images!</h1>
{% endblock %}


{% block content %}

      <!-- Show any logged messages -->
      <div class="row">
      	<div class="span16">
      		<h2>Images</h2>
      		{% if images %}
      			<ul>
      			{% for image in images %}
      				<li><img src="/static/img/thumb/{{ image.img_thumb }}" /></li>
      			{% endfor %}
      			</ul>
      		{% else %}
      			<p>There are currently no logged (and cached) images.</p>
      		{% endif %}
      	</div>      	
      </div>

{% endblock %}