{% macro url_box_default(url) %}
  <div class="info">
  {% if url.img_cached is not none %}
   <div class="floatright">
     <a href="/static/img/{{url.img_cached}}">
       <img src="/static/img/thumb/{{ url.img_thumb }}" />
     </a>
   </div>
  {% endif %}
   <span class="time">{{url.date_created.strftime('%d %b %H:%M')}}</span><br/>
   <a class="nick" href="/nick/{{url.message.user.nick|safeurl}}">{{url.message.user.nick}}</a> on <a class="irc" href="/channel/{{url.channel|safeurl}}">{{url.message.network_channel.channel.name}}</a>@<a class="irc" href="/network/{{ url.message.network_channel.network_id}}/">{{ url.message.network_channel.network.server }}</a></br>
   <div class="content">
     {% if url.img_cached is none %}
       <a href="{{url.url}}">{{url.title}}</a></br>
     {% else %}
       <a href="{{url.url}}">{{url.url}}</a></br>
     {% endif %}
     {{url.message}}</br>
   </div>
   <div class="head_foot">
    <a href="/url/{{url.id}}">PermaLink</a>
   </div>
  </div>
{% endmacro %}

{% macro url_box_top_down(url) %}
  <div class="info">
  {% if url.img_cached is not none %}
   <div class="floatright">
     <a href="/static/img/{{url.img_cached}}">
       <img src="/static/img/thumb/{{ url.img_thumb }}" />
     </a>
   </div>
  {% endif %}
   <a class="nick" href="/nick/{{url.message.user.nick|safeurl}}">{{url.message.user.nick}}</a></br>
   <a class="irc" href="/channel/{{url.channel|safeurl}}">{{url.message.network_channel.channel.name}}</a>
   @<a class="irc" href="/network/{{ url.message.network_channel.network_id}}/">{{ url.message.network_channel.network.server }}</a>
   <span class="time">{{url.date_created.strftime('%d %b %H:%M')}}</span></br>
   <div class="content">
     {% if url.img_cached is none %}
       <a href="{{url.url}}">{{url.title}}</a></br>
     {% else %}
       <a href="{{url.url}}">{{url.url}}</a></br>
     {% endif %}
     <span class="linkMessage">{{url.message}}</span></br>
   </div>
   <div class="head_foot">
    <a href="/url/{{url.id}}">PermaLink</a>
   </div>
  </div>
{% endmacro %}

{% macro url_box_left_right(url) %}
  <div class="info">
  	<div class="container">
  	<div class="row">
  		<div class="span2">
  			
  			
   <span class="time">{{url.date_created.strftime('%d %b %H:%M')}}</span><br/>
   <a class="nick" href="/nick/{{url.message.user.nick|safeurl}}">{{url.message.user.nick}}</a></br>
   <a class="irc" href="/channel/{{url.channel|safeurl}}">{{url.message.network_channel.channel.name}}</a></br>
   <a class="irc" href="/network/{{ url.message.network_channel.network_id}}/">@{{ url.message.network_channel.network.server }}</a></br>
   <div class="head_foot">
    <a href="/url/{{url.id}}">PermaLink</a>
   </div>
   </div>
   <div class="span8">
   	
   <div class="content">
     {% if url.img_cached is none %}
       <a href="{{url.url}}" class="linkTitle">{{url.title}}</a></br>
     {% else %}
       <a href="{{url.url}}" class="linkTitle">{{url.url}}</a></br>
     {% endif %}
     <span class="linkMessage">{{url.message}}</span></br>
   </div>
   
   </div>
  {% if url.img_cached is not none %}   
   <div class="span2">
   <div class="floatright">
     <a href="/static/img/{{url.img_cached}}">
       <img src="/static/img/thumb/{{ url.img_thumb }}" />
     </a>
   </div>
   </div>
  {% endif %}
   
   </div>
   </div>
  </div>
{% endmacro %}

{% macro url_box_left_left(url) %}
<div class="container">
	<div class="row">
		<div class="span2">
			{% if url.img_cached is not none %}
 				<div class="info">
					<a href="/static/img/{{url.img_cached}}">
						<img src="/static/img/thumb/{{ url.img_thumb }}" />
					</a>
  				</div>
  			{% else %}
  				<div class="content"></div>
			{% endif %}
		</div>
  		<div class="span14">
  			<div class="info">
  
		  		<div class="span2">
		  			<span class="time">{{url.date_created.strftime('%d %b %H:%M')}}</span><br/>
					<a class="nick" href="/nick/{{url.message.user.nick|safeurl}}">{{url.message.user.nick}}</a></br>
					<a class="irc" href="/channel/{{url.channel|safeurl}}">{{url.message.network_channel.channel.name}}</a></br>
					<a class="irc" href="/network/{{ url.message.network_channel.network_id}}/">@{{ url.message.network_channel.network.server }}</a></br>
					<div class="head_foot">
						<a href="/url/{{url.id}}">PermaLink</a>
					</div>
		   		</div>
	   			<div class="span8">
					<div class="content">
						{% if url.img_cached is none %}
							<a href="{{url.url}}" class="linkTitle">{{url.title}}</a></br>
						{% else %}
							<a href="{{url.url}}" class="linkTitle">{{url.url}}</a></br>
						{% endif %}
						<span class="linkMessage">{{url.message}}</span></br>
					</div>
	   			</div>
   			</div>
   		</div>


	</div>
</div>
{% endmacro %}