{% extends 'base.html' %}
{% from "_helpers.html" import render_pagination %}

{% block extra_style %}
<style type="text/css">
	.url-group{
		list-style-type:none;
		margin:0 0 15px 0;
		background:#f7fbfc;
		border:1px solid #c5d5dd;
		
		-webkit-border-bottom-right-radius:4px;
		-webkit-border-top-right-radius:4px;
		-webkit-border-bottom-left-radius:4px;
		-moz-border-radius-bottomright:4px;
		-moz-border-radius-topright:4px;
		-moz-border-radius-bottomleft:4px;
		border-bottom-right-radius:4px;
		border-top-right-radius:4px;
		border-bottom-left-radius:4px;
	}
	.commit-group-item{
		position:relative;
		overflow: auto;
		padding:8px 8px 8px 10px;
		border-top:1px solid #e2eaee;
	}
	.commit-group-heading{
		margin:0 0 0 0;
		padding:0px 8px;
		font-size:12px;
		font-weight:900;
		color:#3a505b;
		text-shadow:0 1px rgba(255,255,255,1.0);
		background:#e6f1f6;
		border:1px solid #c5d5dd;
		-webkit-border-top-right-radius:4px;
		-webkit-border-top-left-radius:4px;
		-moz-border-radius-topright:4px;
		-moz-border-radius-topleft:4px;
		border-top-right-radius:4px;
		border-top-left-radius:4px;
	}
	.alt_background {
		background:#f4f4ff;
	}
	.content {
		padding:3px 10px;
	}
	.content a {
		font-weight:bold;
		font-size:1.1em;
		color:#023a5e;
	}
	.rifloat {
		float:right;
		padding:5px;
		border:1px solid #92cae4;
	}
	a.nick {
	  font-size:1em;
	  font-family:consolas;
	  font-weight:lighter;
	}
	
	a.irc {
	  font-size:0.85em;
	  font-family:consolas;
	  font-weight:lighter;
	}
	
	.label a {
		font-weight:bold;
		color:#023a5e;
	}
</style>
{% endblock %}

{% block title %}Links{% endblock %}
{% block nav_links %}active{% endblock %}

{% macro url_box(url) %}
  {% if url.img_cached %}
   <div class="rifloat">
     <a href="/static/img/{{url.img_cached}}">
       <img src="/static/img/thumb/{{ url.img_thumb }}" />
     </a>
   </div>
  {% endif %}
   <span class="label"><a href="/url/{{url.id}}">{{url.date_created.strftime('%H:%M')}}</a></span>
   &lt;<a class="nick" href="/nick/{{url.message.user.nick|safeurl}}">{{url.message.user.nick}}</a>&gt; on 
   <a class="irc" href="/channel/{{url.channel|safeurl}}">{{url.message.network_channel.channel.name}}</a>
    @ <a class="irc" href="/network/{{ url.message.network_channel.network_id}}/">{{ url.message.network_channel.network.server }}</a>
   <div class="content">
     {% if not url.img_cached %}
       <a href="{{url.url}}">{{url.title}}</a></br>
     {% else %}
       <a href="{{url.url}}">{{url.url}}</a></br>
     {% endif %}
   </div>
</li>
{% endmacro %}

{% block hero %}
	<h1>Links!</h1>
{% endblock %}


{% block content %}
      {# Pagination #}
      <div class="span16">
            {% if pagination %}
                {{ render_pagination(pagination) }}
            {% endif %}
      </div>
      <!-- Show any logged messages -->
      <div class="row">
      	<div class="span16">
        	{% if url %}
            	<h3 class="commit-group-heading">{{url.date_created.date()}}</h3>
  				<ol class="url-group">
        			{{ url_box(url) }}
        	    </ol>
  			{% elif urls %}
  				{% for url in urls %}
  					{% if date is defined %}
  						{% if date != url.date_created.date() %}
  							</ol>
  							<span class="commit-group-heading">{{url.date_created.date()}}</span>
  							<ol class="url-group">
  							{% set date = url.date_created.date() %}
  						{% endif %}
  					{% else %}
  						<span class="commit-group-heading">{{url.date_created.date()}}</span>
  						<ol class="url-group">
  						{% set date = url.date_created.date() %}
  					{% endif %}

  					{% if loop.index is divisibleby 2 %}
  						<li class="commit-group-item ">
  					{% else %}
  						<li class="commit-group-item alt_background">
  					{% endif %}
           				{{ url_box(url) }}
           			</li>
      			{% endfor %}
      			{% if date is defined %}
      				</ol>
      			{% endif %}
	  		{% else %}
  				<p>There are currently no logged urls.</p>
  			{% endif %}

      	</div>      	

      </div>
{% endblock %}
