<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ScudBot</title>
    <meta name="description" content="Scudbot Web Application">
    <meta name="author" content="Weigonchi, Doobeh">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Less Stylesheets (Compiled down to CSS using less.js) -->
    <link rel="stylesheet/less" href="/static/less/bootstrap.less">
	<script src="/static/js/less.js"></script>

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> <!-- JQuery -->
    <script src="/static/js/application.js"></script> <!-- Menu's etc -->
    
    
    <!-- TODO : FAV ICONS
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="#">Scudbot</a></h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="{{ url_for('urls') }}">Links</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Links!</h1>
      </div>
      
      <!-- Show any logged messages -->
      <div class="row">
      	<div class="span16">
      		<h2>Links</h2>
      		{% if urls %}
      			<ul>
      			{% for url in urls %}
      				<li><a href="{{ url.url }}">{{ url.url }}</a></li>
      			{% endfor %}
      			</ul>
      		{% else %}
      			<p>There are currently no logged urls.</p>
      		{% endif %}
      	</div>      	
      </div>
      

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>