{% extends 'base.html' %}
{% from "_helpers.html" import render_pagination %}
{% block title %}Links{% endblock %}
{% block nav_links %}active{% endblock %}

{% block hero %}
	<h1>Links!</h1>
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/url.css"/>
      <!-- Show any logged messages -->
      <div class="row">
      	<div class="span16">
      		<h2>Links</h2>
      		{% if urls %}
      			{% for url in urls %}
                  <div class="info">
                  {% if url.img_cached %}
                   <div class="floatright">
                     <a href="/static/img/{{url.img_thumb}}">
                       <img src="/static/img/thumb/{{ url.img_thumb }}" />
                     </a>
                   </div>
                  {% endif %}
                   <span class="time">{{url.date_created.strftime('%d %b %H:%M')}}</span><br/>
                   <a class="nick" href="/nick/{{url.nick|safeurl}}">{{url.nick}}</a> on <a class="irc" href="/channel/">{{url.channel|safeurl}}</a>@<a class="irc" href="/network/">Network</a></br>
                   <div class="content">
                     {% if not url.img_cached %}
                       <a href="{{url.url}}">{{url.title}}</a></br>
                     {% endif %}
                     {{url.msg}}</br>
                   </div>
                   <div class="head_foot">
                    <a href="/url/{{url.id}}">PermaLink</a>
                   </div>
                  </div>
      			{% endfor %}
      			</ul>
      		{% else %}
      			<p>There are currently no logged urls.</p>
      		{% endif %}
      	</div>      	
        <div class="span16">
            {% if pagination != None %}
                {{ render_pagination(pagination) }}
            {% endif %}
        </div>
      </div>
{% endblock %}
